/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

body {
  /*background: linear-gradient(125deg, #134E5E, #71B280);*/
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body .Select-control{
	border:none;
}

h1 {
	font-weight: 300;
}

div, a, p, section {
	font-weight: 300;
	text-decoration: none;
}