.footer{
  padding: 100px 0;
  max-width: 980px;
  margin: auto;
}

.footer span{
  font-size: 1.2em;
  color: lightpink;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: lightgray;
}

.footer a{
  text-decoration: none;
  font-weight: 700;
}
