.create-form{

}

.text-container{
  padding: 10px;
  max-width: 500px;
}

.text-container label{
  display: block;
  font-weight: 600;
}

.text-container textarea{
  resize: none;
  height: 50px;
  min-height: 50px;
  width: 500px;
}