.text-container{
  color: #22313F;
}

.label-row {
  padding-bottom: 3px;
}

.text-container label{
  font-weight: 300;
  font-size: 1.2em;
  color: #22313F;
}

.input-field{
  display: flex;
  padding-bottom: 20px;
}

.text-container input {
  padding: .7rem;
  border: none;
  font-size: 1em;
  color: #22313F;
  outline: 0;
  width: 100%;
  transition: all 0.2s linear;
  background: transparent;
  border: 1px solid #22313F;
  border-left-width: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text-container i {
  text-align: center;
  padding: .7rem;
  background: transparent;
  color:#22313F;
  width: 40px;
  border: 1px solid #22313F;
  border-right-width: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.text-container input:focus {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}

.text-container input:hover {
}

.text-container input:invalid {
  background: #E26A6A;
}

.text-container textarea{
  resize: none;
  min-height: 70px;
  width: 500px;
  background: white;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #D2D7D3;
}

.submit-button {
  width: 100%;
  border: none;
  background: #ee5f77;
  color: white;
  padding: .7rem;
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;  
  border-radius: 10px;
}

.submit-button:disabled {
  background: #22313F;
  cursor: default;
}
.submit-button:enabled {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);  
}

.submit-button:enabled:hover {
  background: #ee5f77 ;
}

.validation-error {
  float: right;
  color: #F16767;
}