.text-container{
}

.label-row {
  padding-bottom: 3px;
}

.text-container label{
  font-weight: 300;
  font-size: 1.2em;
  color: #555;
}

.input-field{
  display: flex;
  padding-bottom: 20px;
}

.text-container input {
  padding: .7rem;
  border: none;
  background: #eee;
  font-size: 1em;
  color: #555;
  outline: 0;
  width: 100%;
  transition: all 0.2s linear;
}

.text-container input:focus {
  background: #f5f5f5;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}

.text-container input:hover {
  background: #f5f5f5;
}

.text-container input:invalid {
  background: red;
}

.text-container i {
  text-align: center;
  padding: .7rem;
  background: #ddd;
  color: #EC4863;
  width: 40px; 
}

.text-container textarea{
  resize: none;
  height: 50px;
  min-height: 50px;
  width: 500px;
}

.submit-button {
  width: 100%;
  border: none;
  background: #EC4863;
  color: white;
  padding: .7rem;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;  
}

.submit-button:disabled {
  background: #555;
  cursor: default;
}

.submit-button:enabled:hover {
  background: #ee5f77 ;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.3);  
}

.validation-error {
  color: red;
  float: right;
}