.search-form{
  font-size: 3.2em;
  font-weight: 300;
}

.search-form input, select{
  border-width: 0;
  border-bottom-width: 2px;
  width: 250px;
  font-size: 1em;
  outline: 0;
  margin-left: 10px;
}

.select-category{
  color: #EC4863;
  border-color: #EC4863;
  width: 300px;
}

/*A73E5C*/

.input-ingredient1{
    color: #A73E5C;
    border-color: #A73E5C;  
}
/*EC4863*/

.input-ingredient2{
    color: #A73E5C;
    border-color: #A73E5C;    
}
/*FF733F*/

.button-container{
  padding-top: 25px;
}

.recipe-search-button{
  padding: 5px 40px;
  border-radius: 10px;
  width: 150px;
  color: #FFF;
  background-color: #EC4863;
  text-decoration: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px){
  .search-form{
    font-size: 2em;
  }

  .input-ingredient, .select-category{
    width: 150px;
  }
}