.single-recipe {
  padding: 15px 10px;
  cursor:pointer;
  font-size: 18px;  
}

.single-recipe:hover {
  background-color: rgba(0,0,0,0.05);
}

.title{
  font-size: 28px;
}

.title a{
  text-decoration: none;
  color: black;
}

.desc{
  color: #888;
  margin-top: 10px;
  font-size: 18px;
}

.divider{
  border: 0;
  height: 2px;
  background: #EC4863;
  width: 300px;
  margin: 15px 0 0;
}

.title{
  font-size: 42px;
  color: #454545;
}

.label{
  color: #888;
  margin-right: 10px;
}

.ingredient, .category{
  margin: 3px;
  font-weight: 500;
  color: black;
}