.single-recipe {
  padding: 15px 10px;
  border-radius: 2px;
  cursor:pointer;
}

.single-recipe:nth-child(1) .divider {
  background: #791642
}

.single-recipe:nth-child(2) .divider {
  background: #9ECF38
}

.single-recipe:nth-child(3) .divider {
  background: #FEE739  
}

.single-recipe:nth-child(4) .divider {
  background: #F2921D  
}

.single-recipe:nth-child(5) .divider {
  background: #D62434  
}

.single-recipe:hover {
  background-color: rgba(0,0,0,0.05);
}

.title{
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 400;
}

.title a{
  font-weight: 800;  
  text-decoration: none;
  color: black;
}

.desc{
  font-size: 14px;
  color: #888;
  margin-top: 20px;
  margin-bottom: 8px;
}

.divider{
  border: 0;
  height: 4px;
  background: #ccc;
  width: 300px;
  margin: 15px 0 0;
}

.title{
  font-size: 42px;
  color: #454545;
}

.desc{
  font-size: 16px;
  color: #555;
}

.label{
  color: #555;
  margin-right: 10px;
}

.ingredient{
  margin: 3px;
  border-radius: 5px;
  font-weight: 700;
}

.category{
  margin: 3px;
  font-weight: 700;  
  border-radius: 5px;
}